.mobile-filters {
    display: inline;
    padding: 100px;
}

.filter {
    padding-bottom: 10px;
    text-align: center
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#map {
    width: auto;
    position: static;
    height: 300px
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
  }
  
  @keyframes animatebottom {
    from {
      bottom: -300px;
      opacity: 0;
    }
  
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  